body {
    font-family: 'Kufam-Regular', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: linear-gradient(to bottom right, #292929, #474646);
}

h1 {
    font-size: 70px;
    color: rgb(230, 224, 224);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.forms {
    background-color: #151515;
    width: 70%;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    color: rgb(224, 223, 223);
}

.form-control, .form-select {
    background-color: #3a3939;
    color: rgb(190, 190, 190);
    border-color: rgb(36, 35, 35);
}

.hint {
    color: rgb(121, 117, 117);
}

#indexBody {
    height: 100vh;
}

#mainTittle {
    text-align: center;
    color: rgb(185, 185, 185);
}

#cartoes {
    display: flex;
    flex-direction: row; /* Alinhamento */
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha se necessário */
    justify-content: center; /* Centraliza os cards horizontalmente */
    margin-top: 100px;
    align-items: start;
}

@font-face {
    font-family: 'Kufam-Regular';
    src: url('/src/fonts/kafum/Kufam-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}